{% extends "base.html" %} {% block title %}Home{% endblock %}
{%block navLink%} 
{% if occupation == 'Admin' %}
    <a class="nav-item nav-link" id="home" href="/home">Home</a>
    <a class="nav-item nav-link" id="addJailor" href="/addJailor">Add Jailor</a>
    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% elif occupation == 'Jailor' %}
    <a class="nav-item nav-link" id="home" href="/home">Home</a>
    <a class="nav-item nav-link" id="Inmate" href="/inmate">Inmate</a>
    <a class="nav-item nav-link" id="Guard" href="/guard">Guard</a>
    <a class="nav-item nav-link" id="FIR" href="/FIR">FIR</a>
    <a class="nav-item nav-link" id="Complaint" href="/complaint">Complaint</a>
    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% else %}
    <a class="nav-item nav-link" id="home" href="/home">Home</a>
    <a class="nav-item nav-link" id="Inmate" href="/inmate">Inmate</a>
    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endif %}
{%endblock %}

{% block content%} 

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .container {
    padding: 50px;
    background-color: #ffffff;
  }
</style>
<h1 style = "color: white"><font size = "50px"><center> Inmate Info Incorporated</center></font></h1>
  </head>
  <body style="background-color: navy">
  <center>  <img src = "https://thumbs.dreamstime.com/b/prisoner-inside-computer-cartoon-unknown-person-behind-bars-screen-33398916.jpg"
     width = "300" height = "300">
    <p style="color: black"><font size = "30px">
    Inmate Info Inc.</font></p>
    </center>
  </body>
{% endblock %}