{% extends "base.html" %} {% block title %} Inmates {% endblock %}

{%block navLink%}
{% if occupation == 'Jailor'%} 
<a class="nav-item nav-link" id="home" href="/home">Home</a>
<a class="nav-item nav-link" id="Inmate" href="/inmate">Inmate</a>
<a class="nav-item nav-link" id="Guard" href="/guard">Guard</a>
<a class="nav-item nav-link" id="FIR" href="/FIR">FIR</a>
<a class="nav-item nav-link" id="Complaint" href="/complaint">Complaint</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% else %}
<a class="nav-item nav-link" id="home" href="/home">Home</a>
<a class="nav-item nav-link" id="Inmate" href="/inmate">Inmate</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endif %}
{%endblock %}

{% block content %}
<div class="container" style="margin-top:40px">
    <h3 align="center">Inmates</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fullname</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Sentence</th>
            <th scope="col">Crime</th>
            <th scope="col">FIRID</th>
        </tr>
        </thead>
        <tbody>
            {% for inmate in inmate_info %}
        <tr>
            <th scope="row">
                {% if occupation == 'Jailor'%}
                    <a role="nav-item nav-link"
                    href= "{{ url_for('views.updateInmate', inmate_id=inmate[0]) }}">{{inmate[0]}}
                </a>
                {% else %}
                    {{inmate[0]}}
                {% endif %}  
            </th>
            <td>{{inmate[1]}}</td>
            <td>{{inmate[2]}}</td>
            <td>{{inmate[3]}}</td>
            <td>{{inmate[4]}}</td>
            <td>{{inmate[5]}}</td>
            <td>{{inmate[6]}}</td>
        </tr>
        {%endfor %}
        </tbody>
    </table>
  </div>
  <div style="text-align:center; padding-top:40px">
    {% if occupation == 'Jailor' %}
        <a class="btn btn-primary" href="/addInmate" role="button">Add Inmate</a>
    {% endif %}
  </div>
{% endblock %}