{% extends "baseforlogin.html" %} {% block title %} Login {% endblock %} {% block content %}
<form method="POST" action='http://127.0.0.1:5000/login'>
    <h3 align="center" padding-top="40px">Log In</h3>
    <div class="form-group">
      <label for="Username">Username</label>
      <input
        type="Text"
        class="form-control"
        id="Username"
        name="Username"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input
        type="Password"
        class="form-control"
        id="Password"
        name="Password"
        placeholder="Enter Password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

    