{% extends "base.html" %} {% block title %}Update Guard Information{% endblock %} 

{%block navLink%} 
<a class="nav-item nav-link" id="home" href="/home">Home</a>
<a class="nav-item nav-link" id="Inmate" href="/inmate">Inmates</a>
<a class="nav-item nav-link" id="Guard" href="/guard">Guards</a>
<a class="nav-item nav-link" id="FIR" href="/FIR">FIRs</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{%endblock %}

{% block content %} 
<form method="POST" action="http://127.0.0.1:5000/updateGuard/{{guard_info[0][0]}}">
    <h3 align="center">Update Guard Information</h3>
    <div class="form-group">
        <label for="GuardID">Guard ID</label>
        <input
        type="number"
        class="form-control"
        id="GuardID"
        name="GuardID"
        value = {{guard_info[0][0]}}
        placeholder= {{guard_info[0][0]}}
        readonly
        />
    </div>
    <div class="form-group">
        <label for="Fullname">Fullname</label>
        <input  
        type="text"
        class="form-control"
        id="Fullname"
        name="Fullname" 
        value = "{{guard_info[0][1]}}"
        placeholder = "{{guard_info[0][1]}}"
        readonly
        />
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input  
        type="text"
        class="form-control"
        id="Username"
        name="Username" 
        value = "{{guard_info[0][7]}}"
        placeholder = "{{guard_info[0][7]}}"
        />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input  
        type="password"
        class="form-control"
        id="Password"
        name="Password" 
        value = "{{guard_info[0][8]}}"
        placeholder = "{{guard_info[0][8]}}"
        />
    </div>
    <div class="form-group">
        <label for="Password">Password (Confirm)</label>
        <input  
        type="password"
        class="form-control"
        id="Password2"
        name="Password2" 
        value = "{{guard_info[0][8]}}"
        placeholder = "{{guard_info[0][8]}}"
        />
    </div>
    <div class="form-group">
        <label for="DOB">Date of Birth</label>
        <input
        type="date"
        class="form-control"
        id="DOB"
        name="DOB"
        value = {{guard_info[0][2]}}
        placeholder= {{guard_info[0][2]}}
        />
    </div>
    <div class="form-group">
        <label for="Address">Address</label>
        <input
        type="text"
        class="form-control"
        id="Address"
        name="Address"
        value = "{{guard_info[0][3]}}"
        placeholder= "{{guard_info[0][3]}}"
        />
    </div>
    <div class="form-group">
    <label for="Duty">Duty</label>
    <input
        type="text"
        class="form-control"
        id="Duty"
        name="Duty"
        value = "{{guard_info[0][4]}}"
        placeholder= "{{guard_info[0][4]}}"
    />
    </div>
    <div class="form-group">
    <label for="Shift">Shift</label>
    <input
        type="text"
        class="form-control"
        id="Shift"
        name="Shift"
        value = "{{guard_info[0][5]}}"
        placeholder= "{{guard_info[0][5]}}"
    />
    </div>
    <div class="form-group">
        <label for="Inmates">InmateID</label>
        <select class="form-control" id="Inmates" name="Inmates">
            <option></option>
            <option disabled selected value={{guard_info[0][6]}}>{{guard_info[0][6]}}</option>
            {% for InmateID in InmateID%}
            <option>{{InmateID[0]}}</option>
            {% endfor%}
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}
